<section class="hero is-large is-light is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        It's Go Time!
      </h1>
      <h2 class="subtitle">
        Get it in gear and get $!$! done today! Only you can do what you need to
        do.
      </h2>
    </div>
  </div>
</section>
