.navbar::after {
  background: rgb(204, 42, 73);
  background: linear-gradient(87deg, rgba(204, 42, 73, 1) 0%, rgba(249, 158, 76, 1) 30%, rgba(239, 70, 72, 1) 70%, rgba(88, 40, 65, 1) 100%);
  content: '';
  width: 100%;
  position: absolute;
  top: 52px;
  height: 3px;
  left: 0;
}

.navbar-dropdown {
  top: 52px;
}
